body, html{
    height: 100%;
}

body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ececec, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ececec, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #0d0d0d;

    font-family: roboto, sans-serif;
    font-weight: 300;
    font-style: normal;

}

h1 {
    font-family: rift, sans-serif;
    font-weight: 700;
    font-style: normal;
}

main{
    padding-top: 6rem;
}

