<template id="menu-template">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html"><img src="/img/CF_Mark.jpg" width="50"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0" id="navItems">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge01/index.html">01-Longest Word</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge02/index.html">02-Balanced Brackets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge03/index.html">03-KM to Miles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge04/index.html">04-Object Sort</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge05/index.html">05-Anagram Check</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge06/index.html">06-Count Vowels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge07/index.html">07-Palindrome Check</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge08/index.html">08-Sum Array Values</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge09/index.html">09-Searching Objects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge10/index.html">10-Most used word</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge11/index.html">11-Sum Recursion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Challenge12/index.html">12-FizzBuzz Ternary</a>
                </li>
            </ul>
        </div>
    </div>
</template>